:root {
    --fontSystem: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* Typography stacks */
    --fontSF: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
    --fontRoboto: "Roboto", var(--fontSF);
}

:root {
    --bg: #e1e1e1;
    --bg-secondary: #ffffff;
    --text: #4e4e4e;
    --text-secondary: #8e8e93;
    --muted: #6b6b6b;
    --ring-color: #bfbfbf;

    --surface-1: #f5f5f7;
    --surface-2: #ffffff;
    --stroke: #3a3a3a;
    --input: #a1a1a1;
    --separator: #dcdcdc;

    --accent: #2676ff;
    --accent-contrast: #ffffff;
    --success-color: #34c759;

    --backdrop: rgba(0, 0, 0, .5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #2f2f30;
        --bg-secondary: #404040;
        --text: #f2f2f2;
        --text-secondary: #8e8e93;
        --muted: #a7a7a7;
        --ring-color: #404040;

        --surface-1: #151517;
        --surface-2: #111113;
        --stroke: #727272;
        --separator: #c8c7cb;

        --accent: #2990ff;
        --accent-contrast: #ffffff;
        --success-color: #34c759;

        --backdrop: rgba(0, 0, 0, .55);
    }
}

html, body, #root {
    min-height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background: var(--bg);
    color: var(--text);
}